body {
  background-color: pink; 
  color: green;
  font-family: "Comic Sans MS", cursive;
  font-size: 30px;
}

table {
  border: 10px solid orange;
  border-radius: 50px;
  box-shadow: 0 0 20px hotpink;  
}

th {
  background-color: purple;
  color: yellow; 
  text-align: center;
  text-decoration: underline;
}

td {
  background-color: yellow;
  font-style: italic;
}
